MONGO_URI=mongodb://registroapi:p7w6IRpVqS6juLRb@ac-qzqueep-shard-00-00.rtcno98.mongodb.net:27017,ac-qzqueep-shard-00-01.rtcno98.mongodb.net:27017,ac-qzqueep-shard-00-02.rtcno98.mongodb.net:27017/logistica_db?ssl=true&authSource=admin&replicaSet=atlas-69c38m-shard-0&retryWrites=true&w=majority&appName=Cluster0

# Configuracion del servidor
PORT=5000

# Servicio de correo (rellena con tus datos de Gmail o SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=syntix634@gmail.com
EMAIL_PASS=btibamipmnobmghq

# OTP
OTP_EXPIRACION_MINUTOS=10
OTP_MAX_INTENTOS=5
OTP_COOLDOWN_SEGUNDOS=60