MONGO_URI=mongodb+srv://<usuario>:<password>@<cluster-host>/logistica_db?retryWrites=true&w=majority

# Configuracion del servidor
PORT=5000

# Servicio de correo
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu_correo@dominio.com
EMAIL_PASS=tu_password_o_app_password

# OTP
OTP_EXPIRACION_MINUTOS=10
OTP_MAX_INTENTOS=5
OTP_COOLDOWN_SEGUNDOS=60
